#paypal-button {
    background-image: url('https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-150px.png');
}

*:not(.icon) {
    font-family: "Open Sans" !important;
}

.text-condensed {
    font-family: "Open Sans Condensed" !important;
}

.meta a {
    color: #666;
}

.meta a:hover {
    text-decoration: none;
}

.uk-card {
    border: 1px solid #e5e5e5;
}

.uk-tab {
    margin-bottom: -1px;
}

.uk-card-default.panel-expanded .uk-card-header {
    border-bottom: 0px;
}

.uk-card-default.panel-expanded .uk-card-body {
    padding: 0px 0px;
}

.uk-card-default.panel .uk-card-body {
    padding: 20px 0px;
}

.uk-card-default .uk-card-body {
    padding: 20px 20px;
}

.title, .meta, .text {
    margin-bottom: 0;
}

.title, .subtitle, .text {
    margin-top: 0;
}

.uk-button, .uk-input, .uk-select, .uk-modal-dialog {
    border-radius: 2px;
}

.uk-button-primary,
.uk-button-primary.uk-active,
.uk-button-primary:active,
.uk-button-primary:focus {
    background-color: #650e81;
}

.uk-button-primary:hover {
    background-color: rgba(101, 14, 129, .95);
}

.uk-card-footer {;
    padding: 0px 0px;
}
.uk-card-default .uk-card-footer {
    border: 0px;
}

.uk-card-footer .uk-button-primary {
    border-radius: 0px 0px 2px 2px;
}

.uk-card-default .uk-card-body {
    margin: 0px 0px;
    padding: 15px 30px;
}